body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", "Helvetica", sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  color: #444;
}
.wrap {
  max-width: 800px;
  padding: 30px 30px;
  margin: 0 auto;
}
#nav-header {
  position: fixed;
  top: 0;
  padding: 8px 8px;
  width: 100%;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e2e2e2;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 5px 1px;
  display: flex;
}
#nav-header > a {
  margin: 0 20px;
  color: #006677;
  font-family: "Lato", "Helvetica", sans-serif;
  text-decoration: none;
  transition: text-decoration 1s;
  font-weight: bold;
}
#nav-header > a:hover {
  text-decoration: underline;
}
