body {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova", "Helvetica", sans-serif;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
a, a:visited {
  color: #079;
  text-decoration: none;
}
a:hover {
  color: #056;
  text-decoration: underline;
}
.main-content a:hover {
  text-decoration: underline;
}
.body-wrap {
  max-width: 640px;
  margin: 0 auto;
}
.site-header {
  max-width: 640px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
}
.site-nav {
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
}
.site-nav > a {
  margin: 0 20px;
  color: #444444;
  font-family: "Lato", "Helvetica", sans-serif;
  letter-spacing: 0.1rem;
}
.site-nav > a:hover {
  color: #005566;
}
.site-footer {
  display: flex;
  justify-content: center;
}
.main-content {
  max-width: 640px;
}

