<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Scott Jespersen | {{ page.title }}</title>
  </head>
  <body>
    <div class="body-wrap">
    <header class="site-header">
      <nav class="site-nav">
        <a href="index.html">About</a>
        <a href="music.html">Music</a>
      </nav>
    </header>
    <section class="main-content">{{ content }}</section>
    <footer class="site-footer"></footer>
    </div>
  </body>
</html>
