{{ $title := (.Get "title") }}
{{ $id := (.Get "id") }}
{{ $caption := (.Get "caption") }}
{{ $divClass := "embedded-vimeo-landscape" }}
{{ $portrait := 0 }}
{{ if eq (.Get "portrait") 1 }}
  {{ $portrait = 1 }}
  {{ $divClass = "embedded-vimeo-portrait" }}
{{ end }}

<figure>
<div class="{{ $divClass }}">
<iframe src="https://player.vimeo.com/video/{{ $id }}?badge=0&autopause=0&player_id=0&app_id=58479&byline=0&portrait={{ $portrait }}&title=0" frameborder="0" allow="fullscreen; picture-in-picture" class="vimeo-iframe" title="{{ $title }}"></iframe>
</div>
<figcaption>{{ $caption }}</figcaption>
</figure>